#calculator {
  background-color: #232323;
  width: 270px;
  margin: 0 auto;
  padding: 25px;
  border: 3px solid #ffffff;
  border-radius: 5px;
  text-align: center;
}

#display-container {
  margin-bottom: 10px;
}

input[type='text'] {
  width: 92%;
  height: 50px;
  padding: 5px;
  font-size: 26px;
  text-align: right;
}

#button-container {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  justify-content: space-between;
}

.button {
  width: 50px;
  height: 50px;
  margin: 5px;
  font-size: 25px;
  cursor: pointer;
}

.button.large-button {
  width: 120px;
}
